.contact-container {
    width: 80%;
    margin: auto;
    min-height: 850px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;
        a {
            color: #ccc;
            &:hover {
                color: chocolate;
            }
        }
    };
}