@font-face {
  font-family: 'VcrOsd';
  src: url('/public/fonts/VCR_OSD_MONO_1.001.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

body {
  background-color: #050f23;
  color: white;
  font-family: "VcrOsd";
}

a {
  color: chocolate;
}

.menu a {
  color: whitesmoke;
  transition: color 400ms ease;
  &:hover {
    color: chocolate;
  }
}


footer {
  position: absolute;
  bottom: 20px;
  margin: auto;
  width: 100%;
  
  p {
    text-align: center;
  }
}