@font-face {
  font-family: 'VcrOsd';
  src: url('/public/fonts/VCR_OSD_MONO_1.001.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: 'Code';
  src: url('/fonts/fira-mono.regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

body {
  background-color: #050f23;
  color: #ccc;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Code", "VcrOsd", sans-serif;
  height: auto;
  p {
   line-height: 2rem; 
  }
}

a {
  color: chocolate;
}

.menu a {
  color: whitesmoke;
  transition: color 400ms ease;
  &:hover {
    color: chocolate;
  }
}


footer {
  position: static;
  bottom: 0;
  margin-bottom: 0;
  width: 90%;
  margin: auto;
  p {
    text-align: center;
  }
}