---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.scss';
---

<Layout title="Brian Alibali | Contact">
    <div class="contact-container">
        <div>
            <a href="mailto:contact@monbry.com">
                contact@monbry.com
            </a>
        </p>
        <ul>
            <li><a href="https://github.com/alibbali" target="_blank">Github</a></li>
            <li><a href="https://www.malt.fr/profile/brianalibali" target="_blank">Malt</a></li>
            <li><a href="https://www.linkedin.com/in/brian-alibali-developpeur-web/" target="_blank">Linkedin</a></li>
            <li><a href="https://twitter.com/Inbedlowbed" target="_blank">Twitter</a></li>
        </ul>
    </div>
</Layout>

