---
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthorCard from "../components/AuthorCard.astro";
---

<BaseLayout title={"Contact"} description={"Pour me contacter, vous pouvez m'écrire par mail ou passer par mes différents réseaux sociaux."}>
    <a href="mailto:contact@monbry.com">contact@monbry.com</a>
</BaseLayout>
