---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.scss';
---

<Layout title="Brian Alibali | Contact">
    <div class="contact-container">
        <p>
            <a href="mailto:contact@monbry.com">
                contact@monbry.com
            </a>
        </p>
    </div>
</Layout>

