---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"Home"} description={"Brian Alibali, Développeur Web FUll Stack"}>
    <Fragment slot="main">
        <h1>Brian Alibali</h1>
        <p>Full-Stack Developer</p>
    </Fragment>
</BaseLayout>
