---
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthorCard from "../components/AuthorCard.astro";
---

<BaseLayout title={"Accueil"} description={"Brian Alibali, Développeur Web FUll Stack"}>
    <Fragment slot="main">
        <div class="presentation">
            <h1>Brian Alibali</h1>
            <p>Full-Stack Developer</p>
        </div>
    </Fragment>

    <AuthorCard slot="main" />
</BaseLayout>
