---
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss'
---

<Layout title="Le Bry - Je ne suis personne.">
	<section class="home-cards">
		<div class="card">
			<h1>Monbry</h1>
			<p>Ma bio + mon CV</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et totam, tempora atque reprehenderit voluptas aliquam architecto quisquam velit tempore minus! Beatae praesentium quibusdam et nostrum dolorum? Tenetur, excepturi consequatur.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et totam, tempora atque reprehenderit voluptas aliquam architecto quisquam velit tempore minus! Beatae praesentium quibusdam et nostrum dolorum? Tenetur, excepturi consequatur.</p>
		</div>
		<div class="card">
			<h3>Les liens utiles</h3>
			<ul>
				<li>Github</li>
				<li>Malt</li>
				<li>Linkedin</li>
				<li>Twitter</li>
			</ul>
		</div>
		<div class="card">
			<h3>Ces temps ci...</h3>
			<ul>
				<li>Musique : <a href="https://open.spotify.com/intl-fr/track/58idGYBQkFbtazcZy7vBlg?si=acbca757afaa4772">Solitude</a></li>
				<li>Lecture : De la briévetè de la vie</li>
				<li>Mathématiques : Les graphes</li>
			</ul>
		</div>
		<div class="card">
			<h3>Mes projets en cours</h3>
			<ul>
				<li>Otto gestion (en cours)</li>
				<li>Project 2</li>
				<li>Project 3</li>
				<li>et d'autres...</li>
			</ul>
		</div>
		<div class="card">
			<h3>Mon blog</h3>
			<ul>
				<li>Article</li>
				<li>Article</li>
				<li>Article</li>
			</ul>
		</div>
	</section>
</Layout>
