---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss'
const posts = await getCollection("posts");
---

<Layout title="Le Bry - Je ne suis personne.">
	<section class="home-cards">
		<div class="card">
			<h1>Monbry</h1>
			<p>Ma bio + mon CV</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et totam, tempora atque reprehenderit voluptas aliquam architecto quisquam velit tempore minus! Beatae praesentium quibusdam et nostrum dolorum? Tenetur, excepturi consequatur.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et totam, tempora atque reprehenderit voluptas aliquam architecto quisquam velit tempore minus! Beatae praesentium quibusdam et nostrum dolorum? Tenetur, excepturi consequatur.</p>
		</div>
		<div class="card">
			<h3>Les liens utiles</h3>
			<ul>
				<li>Github</li>
				<li>Malt</li>
				<li>Linkedin</li>
				<li>Twitter</li>
			</ul>
		</div>
		<div class="card">
			<h3>Ces temps ci...</h3>
			<ul>
				<li>Musique : <a href="https://open.spotify.com/intl-fr/track/58idGYBQkFbtazcZy7vBlg?si=acbca757afaa4772">Solitude</a></li>
				<li>Lecture : <a href="https://fr.wikipedia.org/wiki/De_finibus_bonorum_et_malorum">Le Bien et le Mal</a></li>
				<li>Mathématiques : <a href="https://brilliant.org/">Les graphes</a></li>
			</ul>
		</div>
		<div class="card">
			<h3>Mes projets du moment</h3>
			<ul>
				<li><a href="https://ott-gestion.com">Otto gestion</a> (en cours)</li>
				<li>Un annuaire pour les assoc. sportives</li>
				<li>et d'autres...</li>
			</ul>
		</div>
		<div class="card">
			<h3>Mon blog</h3>
			<ul>
				<li>Article</li>
				<li>et d'autres</li>
			</ul>
		</div>
	</section>
</Layout>
